<div class="loginScreen">
  <div class="formEstudent">
    <div class="bordeImagen">
      <img src="../../../assets/images/estudent.svg" alt="" class="imagen" />
    </div>
    <h2>Inicia Sesión</h2>
    <form [formGroup]="loginForm"  (ngSubmit)="sendCredentials()"  class="formulario">
      <div class="form__group field">
        <input
          type="text"
          class="form__field"
          placeholder="Numero de Control"
          name="control"
          id="control"
          formControlName="NC"
          required
        />
        <label for="control" class="form__label">Numero de Control</label>
      </div>

      <div class="form__group field">
        <input
          type="password"
          class="form__field"
          placeholder="Contraseña"
          name="contrasena"
          id="contrasena"
          formControlName="pass"
          required
        />
        <label for="contrasena" class="form__label">Contrasena</label>
      </div>

      <button class="botonIniciar" type="submit">Iniciar sesion</button>
    </form>
    <p><a routerLink="/admin" routerLinkActive="active">¿Eres administrador?</a></p>
  </div>
</div>
