<div class="loginScreen">
  <div class="formEstudent">
    <div class="bordeImagen">
      <img src="../../../assets/images/admin.svg" alt="" class="imagen" />
    </div>
    <h2>Inicia Sesión</h2>
    <form action="" class="formulario">
      <div class="form__group field">
        <input
          type="text"
          class="form__field"
          placeholder="Usuario"
          name="user"
          id="user"
          required
        />
        <label for="user" class="form__label">Usuario</label>
      </div>

      <div class="form__group field">
        <input
          type="password"
          class="form__field"
          placeholder="Contrasena"
          name="pass"
          id="pass"
          required
        />
        <label for="pass" class="form__label">Contrasena</label>
      </div>

      <button class="botonIniciar" type="submit">Iniciar sesion</button>
    </form>
    <p><a href="">¿Eres Estudiante?</a></p>
  </div>
</div>
