<div class="borde">
  <button class="boton" (click)="uploadScreen()">
    <img class="image" src="../../../assets/images/akar-icons_cloud-upload.png"/>
    <div class="text">
    Subir
    </div>
  </button>
 <!---->
 <button class="boton">
  <img class="image" src="../../../assets/images/akar-icons_cloud-download.png"/>
  <div class="text">
  Descargar
  </div>
</button>
 <!---->
 <button class="boton">
  <img class="image" src="../../../assets/images/akar-icons_play.png"/>
  <div class="text">
  Iniciar evaluación
  </div>
</button>
 <!---->
 <button class="boton">
  <img class="image" src="../../../assets/images/akar-icons_square.png"/>
  <div class="text">
 Terminar Evaluación
  </div>
</button>
 <!---->
 <button class="boton" (click)="goToEditing()">
  <img class="image" src="../../../assets/images/akar-icons_edit.png"/>
  <div class="text">
  Editar
  </div>
</button>
 <!---->
 <button class="boton">
  <img class="image" src="../../../assets/images/carbon_clean.png"/>
  <div class="text">
  Borrar datos
  </div>
</button>
 <!---->
 <button class="boton" (click)="adminLogout()">
  <img class="image" src="../../../assets/images/ant-design_logout-outlined.png"/>
  <div class="text">
  Cerrar sesión
  </div>
</button>
</div>

