
<div class="todo"><h2>Descargar resultados</h2>
 <div class="contenedor">
   <form>
   <div class="categoria">
  <p>Tipo</p>
  <div class="select">
    <select name="tipo" id="tipo">
       <option selected disabled>Selecciona el tipo</option>
       <option value="docentes">Docentes</option>
       <option value="academias">Academias</option>
    </select>
 </div>
</div>
<div class="categoria">
  <p>Selección</p>
 <div class="select">
  <select name="academia" id="academia">
     <option selected disabled>Selecciona la academia</option>
     <option value="isc">ISC</option>
     <option value="ind">IND</option>
     <option value="iq">IQ</option>
     <option value="ige">IGE</option>
     <option value="iias">IIAS</option>
  </select>
</div>
</div>
<div class="categoria">
  <button class="botonIniciar" type="submit">Subir</button>
</div>
</form>
</div>
</div>
