<div>
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="TableAlumnos">

            <ng-container matColumnDef="NC">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero de Control </th>
                <td mat-cell *matCellDef="let row">
                    {{row.control}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Clave">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Clave Carrera </th>
                <td mat-cell *matCellDef="let row">
                    {{row.clave_carrera}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Reticula">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reticula </th>
                <td mat-cell *matCellDef="let row">
                    {{row.reticula}} </td>
            </ng-container>

            <ng-container matColumnDef="Semestre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Semestre </th>
                <td mat-cell *matCellDef="let row">
                    {{row.semestre}} </td>
            </ng-container>

            <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let row">
                    {{row.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="planEstudios">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Plan </th>
                <td mat-cell *matCellDef="let row">
                    {{row.plan_estudios}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let row">
                    {{row.nombre_completo}}
                </td>
            </ng-container>

            <ng-container matColumnDef="NIP">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NIP </th>
                <td mat-cell *matCellDef="let row">
                    {{row.nip}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Botones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Accion </th>
                <td mat-cell *matCellDef="let row">
                    <button type="button" (click)="Editar(row)">E</button>
                    <button type="button" (click)="Borrar(row.control)">D</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsAlumnos"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAlumnos;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>



</div>