<div class="todo">
  <h2>Cargar archivos para la base de datos</h2>
  <form class="form" #FormUpload="ngForm" (ngSubmit)="SubirBDD(FormUpload)">
    <div class="subir" *ngFor="let archivo of archivos">
      <p class="nombre">{{archivo}}</p>
      <input class="form-control" name={{archivo}} ngModel type="file" id="formFile" lang="es"
        (change)="fileUpload($event)" required="required">
    </div>


    <div class="boxBoton">
      <button class="botonIniciar" type="submit">Subir</button>
    </div>
  </form>
  <br>

</div>