<h2>Cargar archivos para la base de datos</h2>
<div class="todo">
  <form class="form">
    <div class="subir">
<p class="nombre">Archivo de Alumnos</p>
<div class="container">
    <div class="file-upload-wrapper" data-text="sonic.exe">
      <input name="file-upload-field" type="file" class="file-upload-field" value="">
</div>
</div>
</div>
<!--2-->
<div class="subir">
  <p class="nombre">Archivo de Alumnos</p>
  <div class="container">
      <div class="file-upload-wrapper" data-text="sonic.exe">
        <input name="file-upload-field" type="file" class="file-upload-field" value="">
  </div>
  </div>
  </div>
<!--3-->
<div class="subir">
  <p class="nombre">Archivo de Alumnos</p>
  <div class="container">
      <div class="file-upload-wrapper" data-text="sonic.exe">
        <input name="file-upload-field" type="file" class="file-upload-field" value="">
  </div>
  </div>
  </div>

<!--4-->
<div class="subir">
  <p class="nombre">Archivo de Alumnos</p>
  <div class="container">
      <div class="file-upload-wrapper" data-text="sonic.exe">
        <input name="file-upload-field" type="file" class="file-upload-field" value="">
  </div>
  </div>
  </div>
<!--5-->
<div class="subir">
  <p class="nombre">Archivo de Alumnos</p>
  <div class="container">
      <div class="file-upload-wrapper" data-text="sonic.exe">
        <input name="file-upload-field" type="file" class="file-upload-field" value="">
  </div>
  </div>
  </div>
<!--6-->
<div class="subir">
  <p class="nombre">Archivo de Alumnos</p>
  <div class="container">
      <div class="file-upload-wrapper" data-text="sonic.exe">
        <input name="file-upload-field" type="file" class="file-upload-field" value="">
  </div>
  </div>
  </div>

<!--7-->
<div class="subir">
  <p class="nombre">Archivo de Alumnos</p>
  <div class="container">
      <div class="file-upload-wrapper" data-text="sonic.exe">
        <input name="file-upload-field" type="file" class="file-upload-field" value="">
  </div>
  </div>
  </div>
<!--8-->
<div class="subir">
  <p class="nombre">Archivo de Alumnos</p>
  <div class="container">
      <div class="file-upload-wrapper" data-text="sonic.exe">
        <input name="file-upload-field" type="file" class="file-upload-field" value="">
  </div>
  </div>
  </div>
<!-- 9-->
<div class="subir">
<p class="nombre">Archivo de Alumnos</p>
<div class="container">
    <div class="file-upload-wrapper" data-text="sonic.exe">
      <input name="file-upload-field" type="file" class="file-upload-field" value="">
    </div>
    <button class="botonIniciar" type="submit">Subir</button>
 </div>
</div>
</form>
<br>

</div>
<div class="boton"></div>
