<!--suppress XmlInvalidId -->
<div class="question">
  <div class="question_header">
    <h2>Evaluación docente 2022</h2>
    <p>{{ nombreEstudiante }}</p>
  </div>
  <div *ngIf="!cargando" class="question_box">
    <p class="question_number">PREGUNTA {{preguntaPagina.ID}}</p>
    <p class="question_text">{{preguntaPagina.pregunta}}</p>
  </div>
  <div class="question_answer">
    <form #SimpleForm="ngForm" (ngSubmit)="getValues(SimpleForm)" action="" class="formularios" id="formulario">
      <table>
        <tr class="temas">
          <th>Materia</th>
          <th>Maestro</th>
          <th>Calificación</th>
        </tr>
        <tr *ngFor="let maestro of materiasDocentes" class="datos">
          <td class="materia">{{ maestro.materia }}</td>
          <td class="nombre">{{ maestro.nombre_docente }}</td>
          <td class="radios">
            <div class="forms">
              <label *ngFor="let numero of araregloNumeros">
                <input ngModel class="input_radio" type="radio" id="{{numero}}" name="{{ maestro.rfc_docente }}"
                       required="required" value="{{numero}}" />
                {{numero}}
              </label>
            </div>
          </td>
        </tr>
      </table>
      <div class="endTable">
        <p>Pregunta {{preguntaPagina.ID}} de 48</p>
        <button type="submit" class="enviar" form="formulario">Siguiente </button>
      </div>
    </form>
  </div>
</div>
