@import "../../variables";

.question {
  width: 90%;
  background-color: $background-lighter;
  margin: 30px auto 0;
  font-size: 2.4rem;
  font-family: $font-ubuntu;

  .question_header {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;

    h2 {
      font-weight: 500;
    }

    p {
      align-self: flex-end;
      font-weight: 300;
    }
  }

  .question_box {
    width: 60%;

    margin: 50px auto;
    background: rgba(1, 100, 167, 0.65);
    border-radius: 111px 0px;
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;

    .question_text {
      font-weight: bold;

    }
  }
}


table {

  tr.datos td {
    border-bottom: 1px solid rgba($color: #919191, $alpha: .5);
  }




  margin: 0 auto;
  width: 100%;

  td {
    padding: 10px 50px;
  }
}

input {
  padding: 15px;
  border-radius: 6px;
  border: 0;
  background-color: $primary-100;
  color: white;

  font-family: $font-ubuntu;
  font-weight: bold;
  font-size: 1.8rem;
  outline: none;
}

.question_answer {

  padding-bottom: 30px;

  table {
    .nombre {
      font-weight: lighter;
      color: #636466;

    }

    .materia {
      font-weight: 500;
      text-transform: uppercase;


    }

    .input_radio {
      margin: 10px;

    }



  }
}

.endTable {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.radios {
  align-items: center;
}

input[type=radio] {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;

}

.forms label {
  display: inline-block;
  text-align: center;

  font-size: 1.4rem;
  width: 30px;


}

label+label {
  margin-left: 30px;
}

input[type='radio']:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -5px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;

}

input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -5px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;

}

.enviar {
  padding: 15px;
  border-radius: 6px;
  border: 0;
  background-color: #97c93d;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  outline: none;
}

.enviar:hover {
  background-color: #79a031;

}

.enviar:active {
  background-color: #95c53d;

}

.enviar:disabled,
.enviar[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

[id='5']:checked:after {
  background-color: #97C93D;
}

[id='5']:after {
  border: 2px solid #97C93D;
}

[id='4']:checked:after {
  background-color: #ACD464;
}

[id='4']:after {
  border: 2px solid #ACD464;
}

[id='3']:checked:after {
  background-color: #EDAF36;
}

[id='3']:after {
  border: 2px solid #EDAF36;
}

[id='2']:checked:after {
  background-color: #FB6161;
}

[id='2']:after {
  border: 2px solid #FB6161;
}

[id='1']:checked:after {
  background-color: #FC3B3B;
}

[id='1']:after {
  border: 2px solid #FC3B3B;
}
.calificacionModal{
    display:flex;
    text-align: center;
    p{
      font-size: 16px;
    }
    h4{
      font-size:20px;
    }
}

.botonModal {
  margin-bottom:15px;

  border-radius: 10px;
  border: 0;
  width: 50px;

  color: $primary-100;
  font-family: $font-ubuntu;
  font-weight: bold;
  font-size: 18px;
  background-image: url(../../../assets/images/akar-icons_question.png);
  background-position:center;
  background-repeat:no-repeat;
}
.botonCerrar {
  padding: 15px;
  border-radius: 10px;
  border: 0;
  width: 150px;
  background-color: $primary-100;
  color: white;
  font-family: $font-ubuntu;
  font-weight: bold;
  font-size: 18px;
  float: right;
  margin-top: 50px;
}
@media(max-width:950px) {

  table tr {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .question_answer {
    margin: 10px 0px;

    table {
      margin-top: -30px;

      .nombre {
        margin-top: -20px;
      }

      .input_radio {
        margin-top: -0px;
      }
    }

  }

  .question {

    font-size: 1.8rem;

    .question_box {
      width: 90%;
      margin: 30px auto;
      font-size: 1.4rem;
      padding: 10px 20px;

      .question_text {
        text-align: center;
      }
    }

    .question_answer {


      .datos {
        text-align: center;

      }

      .temas {
        display: none;
      }
    }


  }

  table {

    tr.datos td {
      border-bottom: 0px solid black;
    }

    tr.datos td:nth-child(3) {
      border-bottom: 1px solid rgba($color: #919191, $alpha: .5);
    }

    .materia {
      font-size: 1.6rem;
    }

    td {
      padding: 10px 5px;
    }
  }

}
