@import "../../variables";

* {
  background-color: $background-lighter;
  font-family: $font-ubuntu;
  align-items: center;
}

h2 {
  font-size: 26px;
  padding: 30px 15px 10px 0px;
}

.control {
  width: 90%;
  margin: 0 auto;
  padding-left: 50px;
}

button {
  padding: 15px;
  border-radius: 10px;
  border: 0;
  width: 150px;
  color: white;
  font-family: $font-ubuntu;
  font-weight: bold;
  font-size: 18px;
}

.botonIniciar {
  background-color: $primary-100;
}

.botonIniciar+.botonTerminar {
  margin-left: 2%;
}

.botonTerminar {
  background-color: #808080;
}

.botonIniciar:hover {
  background: darken($primary-100, 10%);
}


.botonIniciar:active {
  background-color: $primary-100;
}

.botonTerminar:hover {
  background: darken(#808080, 10%);
}

.botonTerminar:active {
  background-color: #808080;
}

@media (max-width: 950px) {
  .control {
    padding-left: 0px;

  }

  .botones {
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 24px;
    margin-left: 2%;
  }
}